body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

#intro {
    background-image: url('../images/intro_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    height: auto;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 3vw;
}

#intro h2 {
    font-size: var(--font-size-xl);
    margin: 0 0 0.8rem 0;
}

#intro p {
    margin: 0 0 0.8rem 0;
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 100;
    width: 50%;
}

#view_more {
    text-align: center;
    text-decoration: underline;
    display: block;
    margin: 2rem;
}

/* Mobile styles */
@media (max-width: 480px) {
    #intro {
        min-height: 35vh;
        padding: var(--spacing-lg);
    }
    
    #intro h2 {
        font-size: var(--font-size-xl);
        margin-bottom: var(--spacing-xs);
    }
    
    #intro p {
        line-height: 1;
        width: 100%;
        margin-bottom: 0.8rem;
    }
}

/* Tablet styles */
@media (min-width: 500px) and (max-width: 1200px) {
    #intro {
        min-height: 40vh;
    }

    #intro p {
        line-height: 1;
        width: 100%;
    }
    
    #intro h2 {
        margin-bottom: var(--spacing-xs);
    }
}